<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Strona główna</title>
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <a href="/o-nas">O nas</a>
        <a href="/oferta">Oferta</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
    <article>
        <h1>Strona główna</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Quisque ut nisi ut lacus ultrices convallis.</p>
    </article>
    <footer>
        <p>Aleks Lick 4C</p>
    </footer>
</body>
</html>
