<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Oferta</title>
</head>
<body>
    <nav>
        <a href="/">Strona główna</a>
        <a href="/o-nas">O nas</a>
        <a href="/oferta">Oferta</a>
        <a href="/kontakt">Kontakt</a>
    </nav>
    <article>
        <h1>Oferta</h1>
        <p>Nasze usługi IT:</p>
        <table>
            <tr>
                <th>Usługa</th>
                <th>Cena</th>
            </tr>
            <tr>
                <td>Tworzenie stron internetowych</td>
                <td>2000 PLN</td>
            </tr>
            <tr>
                <td>Optymalizacja SEO</td>
                <td>1000 PLN</td>
            </tr>
            <tr>
                <td>Wsparcie techniczne</td>
                <td>500 PLN</td>
            </tr>
        </table>
    </article>
    <footer>
        <p>Aleks Lick 4C</p>
    </footer>
</body>
</html>
